/*--------- Colours ------------*/
.silver-bg-color{
    background-color:#c0cdc9;
}
/*--------- Base Template ----------*/
#logo{
    max-width:120px;
    max-height:120px;
}

.header-container{
    align-items: center;
}

.footer-container{
    align-items: center;
}

.footer-text{
    font-size: 20px;
}

.social-icons i{
    color:black;
    font-size: 32px;
    margin: 20px 10px;
}

.social-icons i:hover{
    color:#F9F8F6;
}

/*-------- Line Breaks ---------*/
.short-hr{
    width:200px;
    border-top: none;
    border-bottom:6px solid #c0cdc9;
    margin:15px auto;
}
/*-------- Index Page ----------*/
.hero-container{
    height: 55vh;
    position: relative;
}

#hero-img{
    height:100%;
    width:100%;
}

.hero-text{
    position: absolute;
    top: 30%;
    left:0;
    right:0;
    z-index:1;
    font-size:24px;
    overflow:hidden;
    max-width: 500px;
    color:white;
    margin: 0 auto;
    font-weight: bold;
}

.call-to-action{
    display: block;
    width:250px;
    height:75px;
    border-radius:33%;
    font-weight:bold;
    background-color:#c0cdc9;
    color:black;
    margin: 20px auto;
    padding-top:18px;
}

.call-to-action:hover{
    text-decoration: none;
    color:white;
}

.benefits-container{
    align-items: center;
}

.benefits-item{
   align-items: center;
   margin: 15px 0;
}


.benefits-img{
    max-height:300px;
    width:100%;
}

.benefits-img img{
    height:100%;
    width:100%;
    border-radius: 10%;
}

.testimonial-container{
    align-items: center;
}

.testimonial-item{
   align-items: center;
   margin: 15px 0;
}


.testimonial-img{
    max-height:300px;
    width:100%;
}

.testimonial-img img{
    height:100%;
    width:100%;
    border-radius: 10%;
}
/*---------- Forms ----------*/
.form-container{
    justify-content: center;
    text-align: center;
    background-color: lightskyblue;
}
.register-item{
    width:100%;
}

.register-btn{
    margin: 15px auto;
    width:100%;
}

/*------------- Profile Page Student ----------*/  
.profile-header{
    margin: 25px 0px;
}
.statistics-container{
    margin:30px auto;
    border: 3px ridge black;
}

.stats-header{
    margin:15px auto;
    text-decoration: underline;
}

.graph-container{
    border-right: 2px solid black;
}
.stats-container{
    margin:auto 0;
    font-size:26px;
}

.progress-container{
    margin:20px auto;
}

.progress{
    margin-top:10px;
    margin-bottom: 10px;
    height:50px;
    padding: 0px;
}

.progress-bar{
    
}

.progress-label{
    float: left;
    font-size:26px;
    line-height: 50px;
}

.progress div{
    font-size:24px;
    text-align: left;
}

/*----------- All Questions -----------*/

.question-name{
    border-bottom: 2px solid black;
    background-color: #c0cdc9;
}

.question{
}

.question-solution{

}

.question-container{
    padding:0;
    border: 2px solid black;
    margin: 15px auto;
}

.hidden{
    display: none;
}
/*---------- Flash Messages --------------*/
.flashes{
    background-color:aqua;
    margin-top:15px;
    margin-bottom: 15px;
}