/*--------- Base Template ----------*/
#logo{
    max-width:120px;
    max-height:120px;
}

.header-container{
    align-items: center;
}



/*---------- Forms ----------*/
.form-container{
    justify-content: center;
    text-align: center;
}


/*---------- Flash Messages --------------*/
.flashes{
    background-color:aqua;
    margin-top:15px;
    margin-bottom: 15px;
}