{% extends "base.html" %}
{% block content %}
<div class="container-fluid form-content">
<h2 class="text-center h2_header"> Add Question</h2>

<div class="row"> 
    <form class="col-sm-12 offset-md-2 col-md-8 text-center" method="POST" action="{{ url_for('add_question') }}">
        <div class="form-row">
            <div class="col-12 offset-lg-4 col-lg-4">
                <label for="module_name">Module</label>
                <select class="form-control" id="module_name" name="module_name" required>
                    <option value="" disabled selected>Choose...</option>
                    {% for module in modules %}
                         <option value="{{ module.module_name }}">{{ module.module_name.capitalize() }}</option>  
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12 offset-lg-1 col-lg-5 ">
                <label for="grade">Grade</label>
                <input type="number" id="grade" name="grade"
                 min="1" max="9" class="form-control" required> 
            </div>
            <div class="col-sm-12 col-lg-5">
                <label for="question_name">Question Name</label>
                <input type="text" id="question_name" name="question_name"
                 minlength="3" maxlength="50" class="form-control" placeholder="Please enter the name of your question" required> 
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12">
                <textarea class="form-control question-text-area" id="question" name="question" minlength="10" maxlength="250"  placeholder="Please type out your question here" rows="5" required></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12 question-text-area">
                <textarea class="form-control question-text-area" id="method" name="method" minlength="5" maxlength="250" placeholder="Please type out a useful hint that will assist a student in answering your question here" rows="5" required></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12">
                <input class="form-control" type="text" id="answer" name="answer" placeholder="Please give the exact answer to your question" 
                 minlength="1" maxlength="30" required> 
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12">
            <button type="submit" class="btn btn-primary btn-form">Add Question</button>
        </div>
  </div>
</form>

</div>
</div>
{% endblock %}