{% extends "base.html" %}
{% block content %}
<h2 class="text-center"> All Questions </h2>
<div class="container">
<div class="row text-center">
    <form action="{{ url_for('search') }}" method="POST" class="col-12">
        <div class="d-inline-block">
            <label for="query">Search Questions</label>
            <input type="text" name="query" id="query" minlength="3" required>
        </div>
        <div class="d-inline-block">
            <a href="{{ url_for('all_questions') }}" class="btn">Reset</a>
            <button type="submit">Search</button>
        </div>
    </form>
</div>
</div>
<!--     Student View     -->
{% if user.user_type == "student" %}
    {% if questions|length > 0 %}
        <div class="container">
            <div class="row">
            <!--Display all questions the student has not answered and allow them to answer -->
            {% if student.questions_unanswered|length == 0 and student.questions_incorrect_id|length == 0 %}
                <h5 class="text-center">You have correctly ansswered all the currently available questions, please annoy your teacher to add more </h5>
            {% endif %}
            {% if student.questions_unanswered|length > 0 %}
                {% for id in student.questions_unanswered %}
                    {% for question in questions %}
                        {%  if id == question._id %}
                            <form action="{{ url_for('answer', question_id=question._id) }}" method="POST" class="col-sm-12 col-md-6">
                                <div class="question-name">
                                    <h4> {{ question.question_name }} </h4>
                                </div>
                                <div class="question">
                                    {{ question.question }}    
                                </div>
                                <label for="answer">Answer</label>
                                <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                <button type="submit">Check</button>
                            </form>
                    {% endif %}
                {% endfor %}    
		    {% endfor %}
        {% endif %}
        <!-- Dispaly all questions the students has anaswered correctly along with answers - student cannot answer again-->
        {% if student.questions_correct_id|length > 0 %}
                {% for id in student.questions_correct_id %}
                    {% for question in questions %}
                        {%  if id == question._id %}
                            <div class="col-sm-12 col-md-6">
                                <div class="question-name">
                                    <h4> {{ question.question_name }} </h4>
                                </div>
                                <div class="question">
                                    {{ question.question }}<br>
                                    {{ question.method }}<br>
                                    {{ question.answer }}    
                                </div>
                            </div>
                    {% endif %}
                {% endfor %}    
		    {% endfor %}
        {% endif %}
        <!--Display all questions the student has answered incorrectly and show the method to allow them calculate answer -->
            {% if student.questions_incorrect_id|length > 0 %}
                {% for id in student.questions_incorrect_id %}
                    {% for question in questions %}
                        {%  if id == question._id %}
                            <form action="{{ url_for('answer', question_id=question._id) }}" method="POST" class="col-sm-12 col-md-6">
                                <div class="question-name">
                                    <h4> {{ question.question_name }} </h4>
                                </div>
                                <div class="question">
                                    {{ question.question }}<br>
                                    hint: {{ question.method }}    
                                </div>
                                <label for="answer">Answer</label>
                                <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                <button type="submit">Check</button>
                            </form>
                    {% endif %}
                {% endfor %}    
		    {% endfor %}
        {% endif %}
	</div>
</div>
    {% else %}
    <h3 class="text-center">No questions were found matching your search</h3>
    {% endif %}
{% endif %}
<!--       Teacher and admin view       -->
{% if user.user_type == "teacher" or user.user_type == "admin" %}
    {% if questions|length > 0 %}
        <div class="container">
            <div class="row">
                {% for question in questions %}
                        <div class="col-sm-6 d-inline-block">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ question.module_name }}: {{ question.question_name }}</h5>
                                    <p class="card-text">question: {{ question.question }} <br>
                                        method: {{ question.method }}<br>
                                        answer: {{ question.answer }}<br>
                                        author: {{question.author }}
                                    </p>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
    <h3 class="text-center">No questions were found matching your search</h3>
    {% endif %}
{% endif %}
{% endblock %}