{% extends "base.html" %}
{% block content %}
<h2 class="text-center"> All Questions </h2>
<div class="container">
<div class="row text-center">
    <form action="{{ url_for('search') }}" method="POST" class="col-12">
        <div class="d-inline-block">
            <label for="query">Search Questions</label>
            <input type="text" name="query" id="query" minlength="3" required>
        </div>
        <div class="d-inline-block">
            <a href="{{ url_for('all_questions') }}" class="btn">Reset</a>
            <button type="submit">Search</button>
        </div>
    </form>
</div>
</div>
<!--     Student View     -->
{% if user.user_type == "student" %}
    {% if questions|length > 0 %}
        <div class="container">
            <div class="row">
            {% if student.questions_unanswered|length == 0 and student.questions_incorrect_id|length == 0 %}
                <h5 class="text-center">You have correctly answered all the currently available questions, please annoy your teacher to add more </h5>
            {% endif %}
            <!-- Loop through all questions -->
            {% for question in questions %}
                <form action="{{ url_for('answer', question_id=question._id) }}" method="POST" class="question-container col-sm-12 offset-md-2 col-md-8 text-center">
                        <div class="question-name ">
                            <h4> {{ question.question_name }} </h4>
                        </div>
                        <div class="question hidden">
                            {{ question.question }} <br>
                        </div>
                        <!-- All questions unanswered -->
                        {% if student.questions_unanswered|length > 0 and student.questions_incorrect_id|length == 0 and student.questions_correct_id|length == 0 %} 
                            <div class="hidden">
                                <label for="answer">Answer</label>
                                <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                <button type="submit">Check</button>
                            </div>
                        {% endif %}
                        <!-- All questions correctly answered -->
                        {% if student.questions_unanswered|length == 0 and student.questions_incorrect_id|length == 0 and student.questions_correct_id|length > 0 %} 
                            <div class="question-solution">
                                {{ question.method }}<br>
                                {{ question.answer }}
                            </div>
                        {% endif %}
                        <!-- All questions incorrectly answered -->
                        {% if student.questions_unanswered|length == 0 and student.questions_incorrect_id|length > 0 and student.questions_correct_id|length == 0 %} 
                            <div class="question-solution">
                                {{ question.method }}<br>
                            </div>
                            <label for="answer">Answer</label>
                            <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                            <button type="submit">Check</button>
                        {% endif %}
                        <!-- All questions answered some correct, some incorrect -->
                        {% if student.questions_unanswered|length == 0 and student.questions_incorrect_id|length > 0 and student.questions_correct_id|length > 0 %} 
                            {% for incorrect_id in student.questions_incorrect_id %}
                                    {% if incorrect_id == question._id %}
                                        <div>   
                                            <div class="method">
                                                Method: {{ question.method }}
                                            </div>
                                            <label for="answer">Answer</label>
                                            <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                            <button type="submit">Check</button>
                                        </div>
                                    {% endif %}
                            {% endfor %}
                            {% for correct_id in student.questions_correct_id %}
                                    {% if correct_id == question._id %} 
                                        <div>  
                                            <div class="method">
                                                Method: {{ question.method }} <br>
                                                Answer: {{ question.answer }}
                                            </div>
                                        </div>  
                                    {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!-- Some questions answered correctly -->
                        {% if student.questions_unanswered|length > 0 and student.questions_incorrect_id|length == 0 and student.questions_correct_id|length > 0 %} 
                            {% for correct_id in student.questions_correct_id %}
                                {% if correct_id == question._id %} 
                                    <div>
                                        {{ question.method }}<br>
                                        {{ question.answer }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for unanswered_id in student.questions_unanswered %}                                        
                                {% if unanswered_id == question._id %}
                                    <div class="hidden">
                                        <label for="answer">Answer</label>
                                        <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                        <button type="submit">Check</button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!-- Some questions answered incorrectly -->
                        {% if student.questions_unanswered|length > 0 and student.questions_incorrect_id|length > 0 and student.questions_correct_id|length == 0 %} 
                            {% for incorrect_id in student.questions_incorrect_id %}
                                {% if incorrect_id == question._id %} 
                                    <div class="method">
                                        Method: {{ question.method }} <br>
                                    
                                    <label for="answer">Answer</label>
                                    <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                    <button type="submit">Check</button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for unanswered_id in student.questions_unanswered %}                                        
                                {% if unanswered_id == question._id %}
                                    <div class="hidden">
                                        <label for="answer">Answer</label>
                                        <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                        <button type="submit">Check</button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!--Some questions answered either correct or incorrect -->
                        {% if student.questions_unanswered|length > 0 and student.questions_incorrect_id|length > 0 and student.questions_correct_id|length > 0 %} 
                            {% for correct_id in student.questions_correct_id %}
                                {% if correct_id == question._id %} 
                                    <div>
                                        {{ question.method }}<br>
                                        {{ question.answer }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for incorrect_id in student.questions_incorrect_id %}
                                {% if incorrect_id == question._id %} 
                                    <div class="method">
                                        Method: {{ question.method }} <br>
                                        <label for="answer">Answer</label>
                                        <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                        <button type="submit">Check</button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for unanswered_id in student.questions_unanswered %}                                        
                                {% if unanswered_id == question._id %}
                                    <div class="hidden">
                                        <label for="answer">Answer</label>
                                        <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                        <button type="submit">Check</button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </form>        
                {% endfor %}
	        </div>
        </div>
    {% else %}
    <h3 class="text-center">No questions were found matching your search</h3>
    {% endif %}
{% endif %}
<!--       Teacher and admin view       -->
{% if user.user_type == "teacher" or user.user_type == "admin" %}
    {% if questions|length > 0 %}
        <div class="container">
            <div class="row">
                {% for question in questions %}
                        <div class="col-sm-6 d-inline-block">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ question.module_name }}: {{ question.question_name }}</h5>
                                    <p class="card-text">question: {{ question.question }} <br>
                                        method: {{ question.method }}<br>
                                        answer: {{ question.answer }}<br>
                                        author: {{question.author }}
                                    </p>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
    <h3 class="text-center">No questions were found matching your search</h3>
    {% endif %}
{% endif %}
{% endblock %}
