{% extends "base.html" %}
{% block content %} 
{% if user.user_type == "student" %} 
<h5 class="text-center"> Hello {{ user.first_name }} welcome to class {{ user.class }}'s page</h5>
<p>Check the class leaderboards below to see how you rank among your fellow class mates and see who is doing the most revision!</p>
<div class="container">
    <div class="row">
        <!--Leaderboard of Most Questions Answered-->
        <div class="col-sm-12 col-md-6">
        {% for item in questions_answered %}
            username: {{ item[1] }} score: {{ item[0] }}<br>
        {% endfor %}
        </div>
        <!--Leaderboard of Most Questions Correctly Answered-->
        <div class="col-sm-12 col-md-6">
        {% for item in questions_correct %}
            username: {{ item[1] }} score: {{ item[0] }}<br>
        {% endfor %}
        </div>
        <!--Member of class with highest working grade-->
        <div class="col-sm-12 offset-lg-4 col-lg-4">
        </div>
    </div>
</div> 
{% endif %}
{% if user.user_type == "teacher" %}
    <h4 class="text-center profile-header">Welcome to the class page for class {{ user.class.capitalize() }} </h4>
    <div class="container">
    <div class="row">
    <div class="col-sm-12 offset-lg-1 col-lg-10">
    <table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Student Name</th>
      <th scope="col">Questions Correct</th>
      <th scope="col">Questions Answered</th>
      <th scope="col">Percentage</th>
      <th scope="col">Current Grade</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <th scope="row"> {{ student.username }}</th>
      <td>{{ student.questions_correct }}</td>
      <td>{{ student.questions_answered }}</td>
      <td>{{ student.percentage_correct }}</td>
      <td>{{ student.current_grade }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
{% endif %}

{% if user.user_type == "admin" %}
{% endif %}
{% endblock %}