{% extends "base.html" %} {% block content %}
<div class="text-center">
  <h2>Manages Modules</h2>
  <h4>
    To add a new module <a href="{{ url_for('add_module') }}">click here</a>
  </h4>
</div>
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<div class="row flash">
  <div class="text-center col-sm-12 offset-md-2 col-md-8">
    <h4>{{ message }}</h4>
  </div>
</div>
{% endfor %} {% endif %} {% endwith %}
<div class="container push-footer">
  <div class="row">
    {% for module in modules %}
    <div class="col-sm-3 d-inline-block">
      <div class="card">
        <div class="card-body module-card">
          <h5 class="card-title">{{ module.module_name }}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
