{% extends "base.html" %}
{% block content %}
{% if user.user_type == "student" %}
<div class="container">
    <div class="row">
        {% for module in modules %}
        <div class="col-sm-6 col-lg-3">
            <div class="module_button_container">
                {% if module.module_name == mod_name %}
                <a class="modules_button active" href="{{ 
                         url_for('module', module_name=module.module_name) }}">
                    {{ module.module_name.capitalize() }}
                </a>
                {% else %}
                <a class="modules_button" href="{{ 
                         url_for('module', module_name=module.module_name) }}">
                    {{ module.module_name.capitalize() }}
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="row flash">
    <div class=" text-center col-sm-12 offset-md-2 col-md-8">
        <h4>{{ message }}</h4>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!-- Loop through all questions -->
<div class="push-footer">
    <!-- Loop through all questions -->
            {% for question in questions %}
                <form action="{{ url_for('answer', question_id=question._id) }}" method="POST" class="question-container col-sm-12 offset-md-2 col-md-8 text-center">
                        <div class="question-name ">
                            <h4> {{ question.question_name }} </h4>
                        </div>
                        <div class="question">
                            Question: {{ question.question }} <br>
                        </div>
                        <!-- All questions unanswered -->
                        {% if student.questions_unanswered|length > 0 and student.questions_incorrect_id|length == 0 and student.questions_correct_id|length == 0 %} 
                            <div>
                                <label for="answer">Answer</label>
                                <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                <button type="submit">Check</button>
                            </div>
                        {% endif %}
                        <!-- All questions correctly answered -->
                        {% if student.questions_unanswered|length == 0 and student.questions_incorrect_id|length == 0 and student.questions_correct_id|length > 0 %} 
                            <div class="question-solution">
                                Hint: {{ question.method }}<br>
                                Solution: {{ question.answer }}
                            </div>
                        {% endif %}
                        <!-- All questions incorrectly answered -->
                        {% if student.questions_unanswered|length == 0 and student.questions_incorrect_id|length > 0 and student.questions_correct_id|length == 0 %} 
                            <div class="question-solution">
                                Hint: :{{ question.method }}<br>
                            </div>
                            <label for="answer">Answer</label>
                            <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                            <button type="submit" class="submit-btn">Check</button>
                        {% endif %}
                        <!-- All questions answered some correct, some incorrect -->
                        {% if student.questions_unanswered|length == 0 and student.questions_incorrect_id|length > 0 and student.questions_correct_id|length > 0 %} 
                            {% for incorrect_id in student.questions_incorrect_id %}
                                    {% if incorrect_id == question._id %}
                                        <div>   
                                            <div class="method">
                                                Hint: {{ question.method }}
                                            </div>
                                            <label for="answer">Answer</label>
                                            <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                            <button type="submit">Check</button>
                                        </div>
                                    {% endif %}
                            {% endfor %}
                            {% for correct_id in student.questions_correct_id %}
                                    {% if correct_id == question._id %} 
                                        <div>  
                                            <div class="method">
                                                Hint: {{ question.method }} <br>
                                                Solution: {{ question.answer }}
                                            </div>
                                        </div>  
                                    {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!-- Some questions answered correctly -->
                        {% if student.questions_unanswered|length > 0 and student.questions_incorrect_id|length == 0 and student.questions_correct_id|length > 0 %} 
                            {% for correct_id in student.questions_correct_id %}
                                {% if correct_id == question._id %} 
                                    <div>
                                       Hint: {{ question.method }}<br>
                                       Solution: {{ question.answer }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for unanswered_id in student.questions_unanswered %}                                        
                                {% if unanswered_id == question._id %}
                                    <div>
                                        <label for="answer">Answer</label>
                                        <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                        <button type="submit">Check</button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!-- Some questions answered incorrectly -->
                        {% if student.questions_unanswered|length > 0 and student.questions_incorrect_id|length > 0 and student.questions_correct_id|length == 0 %} 
                            {% for incorrect_id in student.questions_incorrect_id %}
                                {% if incorrect_id == question._id %} 
                                    <div class="method">
                                        Hint: {{ question.method }} <br>
                                    
                                    <label for="answer">Answer</label>
                                    <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                    <button type="submit">Check</button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for unanswered_id in student.questions_unanswered %}                                        
                                {% if unanswered_id == question._id %}
                                    <div>
                                        <label for="answer">Answer</label>
                                        <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                        <button type="submit">Check</button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!--Some questions answered either correct or incorrect -->
                        {% if student.questions_unanswered|length > 0 and student.questions_incorrect_id|length > 0 and student.questions_correct_id|length > 0 %} 
                            {% for correct_id in student.questions_correct_id %}
                                {% if correct_id == question._id %} 
                                    <div>
                                        {{ question.method }}<br>
                                        {{ question.answer }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for incorrect_id in student.questions_incorrect_id %}
                                {% if incorrect_id == question._id %} 
                                    <div class="method">
                                        Hint: {{ question.method }} <br>
                                        <label for="answer">Answer</label>
                                        <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                        <button type="submit">Check</button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for unanswered_id in student.questions_unanswered %}                                        
                                {% if unanswered_id == question._id %}
                                    <div>
                                        <label for="answer">Answer</label>
                                        <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                        <button type="submit">Check</button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </form>        
                {% endfor %}
</div>
{% else %}
<div class="push-footer">
    <div class="container">
        <div class="row  push-footer">
            
            {% for module in modules %}
            <div class="col-sm-6 col-lg-3">
                <div class="module_button_container">
                    {% if module.module_name == mod_name %}
                    <a class="modules_button active" href="{{ 
                            url_for('module', module_name=module.module_name) }}">
                        {{ module.module_name.capitalize() }}
                    </a>
                    {% else %}
                    <a class="modules_button" href="{{ 
                            url_for('module', module_name=module.module_name) }}">
                        {{ module.module_name.capitalize() }}
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            
    </div>
    <div class="container"> 
        <div class="row">
    {% for question in questions %}
    {% if mod_name == question.module_name %}
            <div class="col-sm-6 d-inline-block question-card-container">
                <div class="card">
                    <div class="card-body question-card">
                        <h5 class="card-title">
                            {{ question.module_name }}: {{ question.question_name }}
                            </h5>
                            <p class="card-text">
                                question: {{ question.question }} <br>
                                method: {{ question.method }}<br>
                                answer: {{ question.answer }}<br>
                                author: {{question.author }}
                            </p>
                    </div>
                </div>
            </div>
        
        {% endif %}
    {% endfor %}
        </div>
    </div>
</div>
</div>
{% endif %}
{% endblock %}