{% extends "base.html" %}
{% block content %}
    <div class="container text-center">
    {% for module in modules %}
        <div class="module-title">
        <h3>{{ module.module_name.capitalize() }} Questions</h3>
        </div>
        {% for question in questions %}
            {% if module.module_name == question.module_name %}
                <form action="{{ url_for('answer', question_id=question._id) }}" method="POST" class="question-container col-sm-12 offset-md-2 col-md-8 text-center">
                        <div class="question-name">
                            <h4> {{ question.question_name }} </h4>
                        </div>
                        <div class="question">
                            {{ question.question }} <br>
                        </div>
                        <!-- All questions unanswered -->
                        {% if student.questions_unanswered|length > 0 and student.questions_incorrect_id|length == 0 and student.questions_correct_id|length == 0 %} 
                            <label for="answer">Answer</label>
                            <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                            <button type="submit">Check</button>
                        {% endif %}
                        <!-- All questions correctly answered -->
                        {% if student.questions_unanswered|length == 0 and student.questions_incorrect_id|length == 0 and student.questions_correct_id|length > 0 %} 
                            <div class="question_solutions">
                                {{ question.method }}<br>
                                {{ question.answer }}
                            </div>
                        {% endif %}
                        <!-- All questions incorrectly answered -->
                        {% if student.questions_unanswered|length == 0 and student.questions_incorrect_id|length > 0 and student.questions_correct_id|length == 0 %} 
                            <div>
                                {{ question.method }}<br>
                            </div>
                            <label for="answer">Answer</label>
                            <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                            <button type="submit">Check</button>
                        {% endif %}
                        <!-- All questions answered some correct, some incorrect -->
                        {% if student.questions_unanswered|length == 0 and student.questions_incorrect_id|length > 0 and student.questions_correct_id|length > 0 %} 
                            {% for incorrect_id in student.questions_incorrect_id %}
                                {% for correct_id in student.questions_correct_id %}
                                    {% if incorrect_id == question._id %}
                                        <div class="method">
                                            Method: {{ question.method }}
                                        </div>
                                        <label for="answer">Answer</label>
                                        <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                        <button type="submit">Check</button>
                                        }
                                    {% elif correct_id == question._id %} 
                                        <div class="method">
                                            Method: {{ question.method }} <br>
                                            Answer: {{ question.answer }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        <!-- Some questions answered correctly -->
                        {% if student.questions_unanswered|length > 0 and student.questions_incorrect_id|length == 0 and student.questions_correct_id|length > 0 %} 
                            {% for correct_id in student.questions_correct_id %}
                                {% if correct_id == question._id %} 
                                    <div>
                                        {{ question.method }}<br>
                                        {{ question.answer }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for unanswered_id in student.questions_unanswered %}                                        
                                {% if unanswered_id == question._id %}
                                    <label for="answer">Answer</label>
                                    <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                    <button type="submit">Check</button>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!-- Some questions answered incorrectly -->
                        {% if student.questions_unanswered|length > 0 and student.questions_incorrect_id|length > 0 and student.questions_correct_id|length == 0 %} 
                            {% for incorrect_id in student.questions_incorrect_id %}
                                {% if incorrect_id == question._id %} 
                                    <div class="method">
                                        Method: {{ question.method }} <br>
                                    </div>
                                    <label for="answer">Answer</label>
                                    <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                    <button type="submit">Check</button>
                                {% endif %}
                            {% endfor %}
                            {% for unanswered_id in student.questions_unanswered %}                                        
                                {% if unanswered_id == question._id %}
                                    <label for="answer">Answer</label>
                                    <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                    <button type="submit">Check</button>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!--Some questions answered either correct or incorrect -->
                        {% if student.questions_unanswered|length > 0 and student.questions_incorrect_id|length > 0 and student.questions_correct_id|length > 0 %} 
                            {% for correct_id in student.questions_correct_id %}
                                {% if correct_id == question._id %} 
                                    <div>
                                        {{ question.method }}<br>
                                        {{ question.answer }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for incorrect_id in student.questions_incorrect_id %}
                                {% if incorrect_id == question._id %} 
                                    <div class="method">
                                        Method: {{ question.method }} <br>
                                    </div>
                                    <label for="answer">Answer</label>
                                    <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                    <button type="submit">Check</button>
                                {% endif %}
                            {% endfor %}
                            {% for unanswered_id in student.questions_unanswered %}                                        
                                {% if unanswered_id == question._id %}
                                    <label for="answer">Answer</label>
                                    <input type="text" name="answer" id="answer" minlength="1" maxlength="10" required>
                                    <button type="submit">Check</button>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </form>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
{% endblock %}