{% extends "base.html" %}
{% block content %}
    <!--Teacher and Admin User-->
    {% if (user.user_type == "teacher" or user.user_type == "admin") %}
        <div class="text-center">
        <h3>Hello {{ user.title.capitalize() }} {{user.surname.capitalize() }}<br>
            <a href="{{ url_for('add_question') }}">Click Here</a> to add a question
        </h3>
        </div>
        <div class="container">
            <div class="row">
                {% for question in questions %}
                    {% if (question.author == session.user and user.user_type == "teacher") %}
                        <div class="col-sm-6 d-inline-block">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ question.question_name }}</h5>
                                    <p class="card-text">question: {{ question.question }} <br>
                                        method: {{ question.method }}<br>
                                        answer: {{ question.answer }}
                                    </p>
                                    <a href="{{url_for('edit_question', question_id=question._id) }}" class="btn btn-primary">Edit</a>
                                    <a href="{{url_for('delete_question', question_id=question._id) }}" class="btn btn-primary">Delete</a>
                                </div>
                            </div>
                        </div>
                       {% endif %} 
                    {% if user.user_type == "admin" %}
                        <div class="col-sm-6 d-inline-block">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ question.question_name }}</h5>
                                    <p class="card-text">question: {{ question.question }} <br>
                                        method: {{ question.method }}<br>
                                        answer: {{ question.answer }}<br>
                                        author: {{ question.author }}
                                    </p>
                                    <a href="{{url_for('edit_question', question_id=question._id) }}" class="btn btn-primary">Edit</a>
                                    <a href="{{url_for('delete_question', question_id=question._id) }}" class="btn btn-primary">Delete</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
    {% endif %}
    <!--Student User-->
    {% if user.user_type == "student" %}
        <h3 class="text-center profile-header"> Hello {{ user.first_name.capitalize() }} I hope you are ready to revise.<br>
            The data below gives you an idea of how you are currenlty progressing in physics!</h3> 
        </h3>
        <div class="container statistics-container">
            <div class="row">
                <div class="col-sm-12 col-md-6 text-center graph-container">
                    <h3 class="stats-header"> Current Percentage</h3>
                    <figure width="100%" height="100%">
                        <embed type="image/svg+xml" src="{{ url_for('make_graph') }}"/>
                    </figure>
                </div>
                <div class="col-sm-12 col-md-6 text-center stats-container">
                    <h3 class="stats-header">Statistics</h3>
                    <p class="data-para"> Total Questions Attempted: {{ student.questions_answered }}<br>
                        Questions Correctly Answered: {{ student.questions_correct }}<br>
                        Current Working Grade: {{ student.current_grade }}
                    </p>
                </div>
            </div>
        </div>
	<div class="container progress-container">
		<div class="row">
			<div class="col-sm-12 offset-lg-2 col-lg-8">
                <h3 class="text-center"> Module Completion</h3>
                <hr class="short-hr"> 
				{% for module in modules %}
                <span class="progress-label col-3">{{ module[0].capitalize() }}</span>
                <div class="progress col-9">
					<div class="progress-bar{% if module[1] > 75 %} bg-success{% elif module[1] > 25 %} bg-warning{% else %} bg-danger{% endif %}" 
                    role="progressbar" style="width: {{ module[1] }}%" aria-valuenow="{{ module[1] }}"
						aria-valuemin="0" aria-valuemax="100">{{ module[1] }}%</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

    {% endif %}
{% endblock %}