{% extends "base.html" %}
{% block content %}
<h2 class="text-center"> Sign Up </h2>
<div class="container form-container">
<div class="row"> 
    <form class="col-sm-12 offset-md-2 col-md-8 " method="POST" action="{{ url_for('register') }}">
        <div class="form-row">
            <div class="col-12">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" pattern="^[a-zA-Z0-9]{5,15}$"
                 minlength="5" maxlength="15" required> 
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" pattern="^[a-zA-Z0-9]{5,15}$"
                 minlength="5" maxlength="15" required> 
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-2 col-md-2">
                <label for="title">Title</label>
                <select id="title" name="title" required>
                    <option value="mr">Mr</option>
                    <option value="ms">Ms</option>
                    <option value="miss">Miss</option>
                     <option value="mrs">Mrs</option>
                </select>
            </div>
            <div class="col-sm-10 col-md-5">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" pattern="^[a-zA-Z]{3,15}$"
                 minlength="3" maxlength="15" required> 
            </div>
            <div class="col-sm-12 col-md-5">
                <label for="surname">Surname</label>
                <input type="text" id="surname" name="surname" pattern="^[a-zA-Z]{3,15}$"
                 minlength="3" maxlength="15" required> 
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-6">
                <label for="user_type">User</label>
                <select id="user_type" name="user_type" required>
                    <option selected>Student/Teacher</option>
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option> 
                </select>
            </div>
            <div class="col-sm-6">
                 <label for="class">Class</label>
                <select id="class" name="class" required>
                    <option value="alpha">Alpha</option>
                    <option value="beta">Beta</option>
                    <option value="gamma">Gamma</option> 
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
  </div>
</form>

</div>
</div>
{% endblock %}